body {
  text-align: center;
}

input {
  margin: 5px;
}

.formBackground {
  background-color: lightcyan;
  border-radius: 5px;
  box-shadow: 1px 1px 2px;
  display: inline-block;
  margin-top: 0.5em;
  padding: 2em;
  text-align: center;
}

#submitBtn {
  background-color: cyan;
  box-sizing: unset;
  border-radius: 5px;
  margin: 10px;
  padding: 1px;
}

.warningLabel {
  display: none;
  color: red;
  font-style: italic;
  font-size: 15px;
}
